// Colours
$white: #fff;
$black: #555;
$background: #fff;
$primary: #ED4599;
$primary-shade: darken($primary, 10%);
$primary-tint: lighten($primary, 10%);

$dark-grey: #999;
$medium-grey: #aaa;
$light-grey: #eee;

// Form definitions
$form-element-height: 38px;
$form-element-padding: 4px;

// Button defintions
$button-margin: 0 4px;
$button-padding: 4px 12px;
